body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 2px 13% 13% 13%;
    background-color: #ffffff;
}

form {
    background-color:  #0265fa;
    border-radius: 20px;
    padding: 80px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: #555;
}

.google {
    background-color: #4285F4;
}

.facebook {
    background-color: #4267B2;
}

.tiktok {
    background-color: #000;
}

.fab {
    font-size: 24px;
}
.controls {
    padding: 10px 30px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.controls-input {
    background-color: darkgrey;
    padding: 9px 12px;
    width: 100%;
    border: none;
    border-left: 2px solid #666;
    padding: 6px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.botons {
    background-color: rgb(12, 33, 255);
    color: rgb(255, 170, 91);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
}
.control {
    background-color: #dfdfdf;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
h1 {
    text-align: center;
    padding: 20px 2px 20px 30px;
}
