body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 4% 14% 14% 14%;
    background-color: #ffffff;
}

/* stilo-cuenta */
.social-link {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
    margin: 50px;
}
.social-link:hover {
    background-color: #555;
}
.google {
    background-color: #4285F4;
}

.facebook {
    background-color: #4267B2;
}

.tiktok {
    background-color: #000;
}

.fab {
    font-size: 24px;
}



form {
    background-color: transparent;
    padding: 6px 30px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    background-color: transparent;
    border-radius: 4px;
    color: #0022e2;
    margin: 6px 0;
}
fieldset {
    margin: 20px 3%;
    border: 2px solid #ddd;
}
legend {
    padding: 0 6px;
    border: 1px solid #ddd6;
    background-color: #ddd6;
    color: #000000;
}

.form_input {
    padding: 0,2px;
}

.controls {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 6px 3px;
    color: #000000;
    border-color: #65aee6;
    border-radius: 12px;
}
.controls-input {
    background-color: rgb(218, 218, 218);
    padding: 9px 12px;
    width: 100%;
    border: none;
    border-left: 2px solid #3b3b3b;
    padding: 4px 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.botons {
    background-color: rgb(110, 37, 237);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
}
.control {
    background-color: #f3f3f3;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    border-color: rgb(230, 31, 31);
}
